@font-face {
    font-family: 'YekanBakh';
    src: url('fonts/YekanBakh-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: #b4a990; /* رنگ قهوه‌ای تیره */
    font-family: 'YekanBakh', sans-serif;
    color: #333333; /* سفید برای متن */
    text-align: center;
    direction: rtl;
    font-size: 2vw; /* واکنش‌پذیر برای دسکتاپ */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
}

.card {
    position: relative; /* برای کنترل موقعیت عدد */
    border: 2px solid #9e8e71;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #cfcab9;
    text-align: right;
    width: 90%;
    overflow: hidden; /* برای جلوگیری از خروج محتوا */
}

.text-centered {
    text-align: center;
    direction: rtl;
}

@media (max-width: 768px) {
    body {
        font-size: 4vw; /* اندازه متن برای موبایل */
    }

    .container {
        padding-top: 10px; /* کاهش فاصله برای موبایل */
        width: 100%;
    }

    .card {
        width: 95%; /* کارد کمی باریک‌تر شود برای موبایل */
        padding: 10px; /* کاهش فضای داخلی در موبایل */
    }

    .text-centered {
        font-size: 3vw; /* متن‌ها واکنش‌پذیر شوند */
        line-height: 1.5; /* ارتفاع خطوط برای خوانایی بهتر */
    }
}

.card-number-bg {
    position: absolute;
    top: 50%; /* وسط کارت */
    left: 50%; /* وسط کارت */
    transform: translate(-50%, -50%); /* دقیقاً مرکز */
    font-size: 6vw; /* عدد بزرگ */
    font-weight: bold; /* ضخیم */
    color: rgba(0, 0, 0, 0.1); /* کم‌رنگ */
    z-index: 0; /* پشت متن اصلی */
    pointer-events: none; /* عدم تأثیر بر تعامل */
}

.card-content {
    position: relative;
    z-index: 1; /* متن اصلی روی شماره قرار بگیرد */
}
