@font-face {
    font-family: 'YekanBakh';
    src: url('fonts/YekanBakh-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: #b4a990; /* رنگ قهوه‌ای تیره */
    font-family: 'YekanBakh', sans-serif;
    color: #333333; /* سفید برای متن */
    text-align: center;
    direction: rtl;
    font-size: 2vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* به جای height از min-height استفاده شود */
    padding-top: 20px; /* فاصله برای جلوگیری از خروج از صفحه */
    box-sizing: border-box; /* باکس مدل درست تنظیم شود */
}

.card {
    border: 2px solid #9e8e71; /* حاشیه طلایی */
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #cfcab9; /* رنگ زمینه روشن */
    text-align: right; /* راست‌چین */
}

.text-centered {
    text-align: center;
    direction: rtl;
}
